#form-bg
{
    background: #30b1ff;
    position: relative;
    top: 20%;
}
.App
{
    text-align: start !important;
}
.form-bg
{
    padding-top: 12%;
    padding-bottom: 12%;
    padding-left: 6%;
    padding-right: 6%;
    color: #ffffff;
    font-weight: 700;
}
#bg
{
    background:url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}